#bgvid {
  height: 100vh;
  width: 100%;
  position: fixed;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  top: 0;
  left: 0;
  z-index: -1;
}

.login {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login .blankpage-form-field {
  width: 320px;
}

.login .blankpage-footer {
  padding: 10px 0;
}

form .alert {
  margin: 10px 0;
}

#js-page-content {
  min-height: calc(100vh - 115px);
}

