#bgvid {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
.login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .blankpage-form-field {
    width: 320px;
  }
  .blankpage-footer {
    padding: 10px 0;
  }
}

form {
  .alert {
    margin: 10px 0;
  }
}
